.cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000;

    &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        background-image: linear-gradient(to top, rgba(26,40,120,0.7), rgba(10,43,196,0.7));
    }

    .wrap {
        position: relative;
        z-index: 1;
    }

    .header {
        //background-color: red;
        font-size: 68px;
        color: #fff;
        padding: 24px 0;
        letter-spacing: 1px;
    }

    .decr {
        color: #fff;
        padding: 15px 0 30px 0;
        font-size: 20px;
        line-height: 1.55;
    }

}


